/* Space out content a bit */
body {
  /*padding-top: 20px;*/
  /*padding-bottom: 20px;*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 20px;
  padding: 2px 0px;
  padding: 2px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: normal;
}



/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.form-signin-heading {
  font-family: "Open Sans",arial;
  color: #555;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.login-block{
  background-color: #F7F7F7;
  padding: 20px 25px 30px;
  width: 350px;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  /*box-shadow: inset 0 0 1em gold, 0 0 1em red;*/
  margin: 0px auto 25px;
}

.form-item {
  width: 100%;
}

.form-item .form-icon {
  width: 4%;
  float: left;
  height: 34px;
  padding: 9px 0px;
  font-size: 14px;
  margin-right: 10px;
}

.form-item .form-control {
  width: 94%;
  margin-bottom: 25px;
}

.form-item .btn {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  box-sizing: border-box;
}

.form-img {
  margin-bottom: 15px;
}

.form-img img {
  width: 150px;
  border-radius: 100px;
}


.widget-menu .comment {
  font-size: 20px;
  line-height: 65px;
  color: #B2BFDC;

}

.widget-menu .widget-body {
  padding: 0;
}

.widget-menu .widget-icon {
  background: transparent;
  /*border: 1px solid #fff;*/
}

.widget-menu .widget-icon i{
  color: #fff;
}

.widget-content a {
  padding: 20px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  background-color: #30426A;
  color: #B2BFDC;
}

.programs .widget-content .widget-icon {
  background-color: #2196f3;
}

.projects .widget-content .widget-icon {
  background-color: #673ab7;
}

.activities .widget-content .widget-icon {
  background-color: #ffc107;
}

.receipts .widget-content .widget-icon {
  background-color: #8bc34a;
}

.payments .widget-content .widget-icon {
  background-color: #ff9800;
}

.budgets .widget-content .widget-icon {
  background-color: #795548;
}

.reports .widget-content .widget-icon {
  background-color: #607d8b;
}


.main-activities .widget{
  background-color: #738BC0;
  border: 1px solid #30426A;
}

.main-activities .widget .widget-header {
  background-color: #2D3E63;
  border-bottom: none;
}

.main-activities .widget .widget-header,
.main-activities .widget .widget-header i,
.main-activities .widget .widget-header a{
  color: #fff;
}

.dataTables_wrapper {
  background-color: #30426A;
  width: 100% !important;
}

.dataTables_wrapper .dataTables_length {
  padding: 10px 0 10px 10px;
  color: #fff;
}

.dataTables_wrapper .dataTables_length label,
.dataTables_wrapper .dataTables_filter label{
  font-weight: normal;
}

.dataTables_wrapper .dataTables_length label select{
  color: #333;
}

.dataTables_wrapper .dataTables_filter {
  padding: 10px 10px 10px 0;
  color: #fff;
}

.dataTables_wrapper .dataTables_filter input[type=search] {
  border-radius: 5px;
  border: 1px solid #eee;
  color: #333;
  font-weight: normal;
  font-size: 12px !important;
  padding: 5px 0 5px 5px;
}



.dataTables_wrapper table {
  width: 100% !important;
  border: none;
}

.dataTables_wrapper table thead {
  background-color: #738BC0 !important;

}

.dataTables_wrapper table thead th{
  font-weight: normal;
  color: #fff;
  font-size: 13px !important;
  padding-left: 5px;
  border-left: 1px solid #fff;
  border-bottom: none;
}

.dataTables_wrapper table thead th:first-child {
  padding-left: 10px;
  border-left: none;
}

.dataTables_wrapper table thead th:last-child {
  padding-right: 10px;

}

.dataTables_wrapper table tbody td,
.dataTables_wrapper table tbody th {
  border: 0px solid !important;
}

.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_info {
  padding-bottom: 10px;
  padding-top: 10px;
  color: #fff;
  font-weight: normal;
  line-height: 30px;
  font-size: 11px;
}

.dataTables_wrapper .dataTables_info {
  padding-left: 10px;
}

.dataTables_wrapper .dataTables_paginate {
  line-height: 13px;
  padding-right: 10px;
}

.dataTables_wrapper .dataTables_paginate a.disabled {
  display: none;
}


.dataTables_wrapper .dataTables_paginate a {
  background: url() 0 0 no-repeat #738BC0;
  margin-left: 5px !important;

}

.dataTables_wrapper .dataTables_paginate span span {
  margin: 0 5px;
  letter-spacing: 1.2em;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
