
<ca-widget>
  <widget-header icon="fa-shopping-cart" title="Receipt Name: {{receipt.title|lowercase}}">

    <a ui-sref="removeReceipt({id:receipt._id})" ><i class="fa fa-trash-o"></i></a>
  </widget-header>
  <widget-body classes="medium no-padding">
    <div class="col-xs-12 col-md-6 col-lg-7">
      <div class='item'>
        <h4>Description : </h4> {{receipt.description}}
      </div>
      <div class='item'>
        <h4>Amount :</h4> {{receipt.amount}}
      </div>
      <div class='item'>
        <h4>Found Source :</h4> {{receipt.fundSource}}
      </div>
      <div class='item'>
        <h4>Document Type :</h4> {{receipt.documentType}}
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-5">
      <div class='item'>
        <h4>Author :</h4> {{receipt.createdBy}}
      </div>
      <div class='item'>
        <h4>Account :</h4> {{receipt.accountId}}
      </div>
      <div class='item'>
        <h4>Bank Account :</h4> {{receipt.bankAccount}}
      </div>
      <div class='item'>
        <h4>Creation Date :</h4> {{receipt.createdDate}}
      </div>
    </div>
  </widget-body>
</ca-widget>
