
<ca-widget>
  <widget-header icon="fa-calandar" title="Receipt Name: {{receipt.title|uppercase}}">

    <a ui-sref="removeReceipt({id:receipt._id})" ><i class="fa fa-trash-o"></i></a>
  </widget-header>
  <widget-body classes="medium no-padding">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <h4>Description</h4>
      <p>{{receipt.description}}</p>
      <h4>Amount</h4>
      <p>{{receipt.amount}}</p>
      <h4>Found Source</h4>
      <p>{{receipt.fundSource}}</p>
      <h4>Document Type</h4>
      <p>{{receipt.documentType}}</p>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <h4>Author</h4>
      <p>{{receipt.createdBy}}</p>
      <h4>Account</h4>
      <p>{{receipt.accountId}}</p>
      <h4>Bank Account</h4>
      <p>{{receipt.bankAccount}}</p>
      <h4>Creation Date</h4>
      <p>{{receipt.createdDate}}</p>
    </div>
  </widget-body>
</ca-widget>
