
<ca-widget>
  <widget-header icon="fa-calandar" title="Activity Name: {{activity.name|uppercase}}">

    <a ui-sref="removeActivity({id:activity._id})" ><i class="fa fa-trash-o"></i></a>
  </widget-header>
  <widget-body classes="medium no-padding">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h4>Description</h4>
      <p>{{activity.description}}</p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h4>Author</h4>
      <p>{{activity.createdBy}}</p>
      <h4>Project</h4>
      <p>{{activity.projectid}}</p>
      <h4>Creation Date</h4>
      <p>{{activity.createdDate}}</p>
    </div>
  </widget-body>
</ca-widget>
