
<ca-widget>
  <div class='view-page view-page-program col-xs-12'>
    <widget-header icon="fa-suitcase" title="{{project.name|lowercase}}">
      <a ui-sref="editProject({id:project._id})" ><i class="fa fa-pencil-square-o"></i></a>
      <a ui-sref="removeProject({id:project._id})" ><i class="fa fa-trash-o"></i></a>
    </widget-header>
    <widget-body classes="medium no-padding">
      <div class="col-xs-12 col-md-6 col-lg-7">
        <div class='item'>
          <h4>Description :</h4> {{project.description}}
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-5">
        <div class='item'>
          <h4>Author :</h4> {{project.createdBy}}
        </div>
        <div class='item'>
          <h4>Program :</h4> {{project.programid}}
        </div>
        <div class='item'>
          <h4>Creation Date : </h4> {{project.createdDate}}
        </div>
      </div>
    </widget-body>
  </div>
</ca-widget>
