<ca-widget>
  <widget-header icon="fa-tasks" title="Budget Title : {{budget.title|uppercase}}">
    <a ui-sref="editBudget({id:activity._id})" ><i class="fa fa-pencil-square-o"></i></a>
    <a ui-sref="removeBudget({id:activity._id})" ><i class="fa fa-trash-o"></i></a>
  </widget-header>
  <widget-body classes="medium no-padding">
      <form class="form-horizontal" role="form" name="newProgram">
        <input type="hidden" name="name" id="inputID" class="form-control" value="{{budget._id}}" title="" required="required" >
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Budget title" ng-model="budget.title">
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            <textarea name="description" id="" cols="30" rows="3" class="form-control" ng-model="budget.description"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="AccountId" class="col-sm-2 control-label">Project</label>
          <div class="col-sm-10">
            <input type="number" name="AccountId" id="inputAccountId" class="form-control" value="" min="{5"} ma step="" required="required" ng-model="budget.accountId">
          </div>
        </div>
        <div class="form-group">
          <label for="fiscalYear" class="col-sm-2 control-label">Fiscal Year</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" id="fiscalYear" placeholder="FiscalYear" ng-model="budget.fiscalYear">
          </div>
        </div>
        <div class="form-group">
          <label for="fundSource" class="col-sm-2 control-label">Fund Source</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="fundSource" placeholder="FundSource" ng-model="budget.fundSource">
          </div>
        </div>

        <div class="form-group">
          <label for="radio" class="col-sm-2 control-label">Status</label>
          <div class="col-sm-10">
            <div class="radio">
              <label>
                <input type="radio" name="status" id="inputStatus" value="1" checked="checked" ng-model ="budget.status">
                Active
              </label>
              <label>
                <input type="radio" name="status" id="inputStatus" value="0" checked="checked" ng-model ="budget.status">
                Inactive
              </label>
            </div>
          </div>
        </div>
      </form>
    <div class="modal-footer">
      <button type="button" ng-click="update(budget)" class="btn btn-primary" data-dismiss="modal">OK</button>
      <button type="button" ng-click="cancel()" class="btn">Cancel</button>
    </div>

  </widget-body>
  </ca-widget>
