
<ca-widget>
  <widget-header icon="fa-calandar" title="Budget Name: {{budget.title|uppercase}}">

    <a ui-sref="removeBudget({id:budget._id})" ><i class="fa fa-trash-o"></i></a>
  </widget-header>
  <widget-body classes="medium no-padding">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <h4>Description</h4>
      <p>{{budget.description}}</p>
      <h4>Description</h4>
      <p>{{budget.fundSource}}</p>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <h4>Author</h4>
      <p>{{budget.createdBy}}</p>
      <h4>Account</h4>
      <p>{{budget.accountId}}</p>
      <h4>Fiscal Year</h4>
      <p>{{budget.fiscalYear}}</p>
      <h4>Creation Date</h4>
      <p>{{budget.createdDate}}</p>
    </div>
  </widget-body>
</ca-widget>
